
<li class="nav-item"><a class="nav-link px-0 active" href="#all" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">All</div>
    <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">All</span></div></a></li>

    <li class="nav-item"><a class="nav-link px-0" href="#dispute" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">Dispute</div>
    <div class="d-lg-none text-center"><i class="ci-location opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Dispute</span></div></a></li>

    <li class="nav-item"><a class="nav-link px-0" href="#returnNotDelivered" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">Return Not Delivered</div>
    <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Return Not Delivered</span></div></a></li>
    
    <li class="nav-item"><a class="nav-link px-0" href="#returnReadyToShip" data-bs-toggle="tab" role="tab">
        <div class="d-none d-lg-block">Return ReadyToShip</div>
        <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Return ReadyToShip</span></div></a></li>


    <li class="nav-item"><a class="nav-link px-0" href="#readytoprocess" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">Return ReadyToProcess</div>
    <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Return ReadyToProcess</span></div></a></li>

    
        
    <li class="nav-item"><a class="nav-link px-0" href="#returnCancelled" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">Return Request Cancelled</div>
    <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Return Request Cancelled</span></div></a></li>

            
    <li class="nav-item"><a class="nav-link px-0" href="#validationInProgress" data-bs-toggle="tab" role="tab">
    <div class="d-none d-lg-block">Validation In Process</div>
    <div class="d-lg-none text-center"><i class="ci-bag opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Validation In Process</span></div></a></li>
        
