{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cartzilla | SG Stores</title>
    

    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <!-- <link rel="manifest" href="{% static 'favicon/webmanifest.json' %}"> -->
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}"/>
    
    <link rel="stylesheet" media="screen" href="{% static 'vendor/nouislider/dist/nouislider.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/nouislider/dist/nouislider.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/drift-zoom/dist/drift-basic.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Main Theme Styles + Bootstrap-->
    <link href="{% static 'css/theme.min.css.map' %}" rel="text/plain">
    <link rel="stylesheet" media="screen" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/customrate.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.js' %}" type="text/javascript"></script>

    <!-- <script src="{% static 'vendor/nouislider/dist/nouislider.js' %}" type="text/javascript"></script>  -->

    <!-- <script src="{% static 'vendor/nouislider/dist/nouislider.min.js' %}" type="text/javascript"></script>  -->

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <!-- <script src="{% static '/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script> -->

  
    <link rel="stylesheet" media="screen" href="{% static '/vendor/tiny-slider/dist/tiny-slider.css' %}">
    <script src="{% static '/vendor/tiny-slider/dist/min/tiny-slider.js' %}" type="text/javascript"></script>


    <!-- paypal script -->
    <script src="https://www.paypal.com/sdk/js?client-id=Aavfbj0F2JTwJLpsz40TV4ncUVwUBq1Q7V95Dd2aik2GyQc7472BYNBuSAY0tl3JrygbS-YHAIkMgEdY&currency=USD"></script>


    <!-- <script>

      document.body.addEventListener('htmx:configRequest',(event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script> -->
 

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- <link rel="manifest" href="{% static 'favicon/webmanifest.json' %}"> -->

 
  </head>

    <!-- Sign in / sign up modal-->
  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="si-email">Email address</label>
              <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3 d-flex flex-wrap justify-content-between">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="si-remember">
                <label class="form-check-label" for="si-remember">Remember me</label>
              </div><a class="fs-sm" href="#">Forgot password?</a>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="su-name">Full name</label>
              <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your name.</div>
            </div>
            <div class="mb-3">
              <label for="su-email">Email address</label>
              <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 
<!-- include data table plugin script & css-->
 {% include 'includes/alerts.html' %}


  <!-- navbar   -->
    {% include 'includes/navbar.html' %}
    {% block content %}

   
 
    <!-- content -->
    {% endblock %}


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
      {% for message in messages %}
          swal('{{message}}');
      {% endfor %}
    </script>
    {% block script %}
    <script>
      setTimeout(function(){
        if ($('#msg').length > 0 ){
          $('#msg').remove();
        }
      },1000)
    </script>
    {% endblock %}
    

<!-- footer -->



    {% include 'includes/footer_shop.html' %}

</html>